@tailwind base;
@tailwind components;
@tailwind utilities;
.hero{
   
    background-image: linear-gradient(to bottom right, #457AD4 5%, #254375);

}
.pattern{
    max-width: 100%;
    position: relative;
    bottom: 10px;
    /* opacity: 0; */
    opacity: 90;
    animation: show-pattern 1s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 6 );
    -webkit-animation: show-pattern 1s cubic-bezier(.68,-0.55,.27,1.55) forwards calc(var(--delay) * 6 );
}
.hero .hero-ctas{
    max-width: fit-content;
    margin: auto;
    position: relative;
    z-index: 4;
    margin-top: 20px;
}

.hero-ctas a button{
    background-color: #5494ff;
    border: 1px solid black;
    border-radius: .2rem;
    padding: 0.4rem 0.54rem;
    color:white;
    box-shadow: 3px 3px 0rem 0rem black;
    font-size: 1.1rem;
    margin: 0 1rem 0 0;
    transition: all .1s ease-in;
  
    
}

.hero-ctas a:last-of-type button{
    background-color: transparent;
    color: white;
    border: 2px solid #5494ff;
    padding: 0.4rem 0.6rem;
    font-size: 1.1rem;
    box-shadow: none;
    animation-delay: calc(var(--delay) * 5.5 );
}

.hero-ctas button a{
    color: inherit;
    text-decoration: none;
}




.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #111010;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;

   
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }


  /*navbar*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .toggle-menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .toggle-menu .menu-icon {
    display: block;
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    position: relative;
  }
  
  .toggle-menu .menu-icon::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 2px;
    background-color: #fff;
  }
  
  .toggle-menu .menu-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 2px;
    background-color: #fff;
    transform: rotate(90deg);
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 10px;
    padding: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 30px;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  .github{
    border: 2px solid blue;
    padding: 12px;
  }
  /* Media query for mobile devices */
  @media only screen and (max-width: 768px) {
    .toggle-menu {
      display: block;
    }
  
    .nav-list {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 1rem;
    }
  
    .nav-list li {
      margin-bottom: 1rem;
    }
  
    .nav-list li:last-child {
      margin-bottom: 0;
    }
  
    .toggle-menu:checked + .nav-list {
      display: block;
    }
    .logo{
      padding: none;
      padding-left: 0;
    }
  }


  /*Footer */
   /* Media query for mobile devices */
   .ct-me{
    font-size: 1.4rem;
   }
   @media only screen and (max-width: 768px) {
    .foot-link{
      font-size: 1.2rem;
    }
    .ct-me{
      font-size: 1.2rem;
    }
    .cir-img{
      width: 40px;
      height: 40px;
    }
    .eji{
      
      padding: 20px;
    }
   }

